# IMPORT

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

# Book1.csv

In [3]:
df = pd.read_csv("Book1.csv")
print(df.head())

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [4]:
x = df.iloc[:, 0:1]
y = df.iloc[:, -1]
print(x)
print(y)

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]
0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [5]:
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

# print(x_train.shape)
# print(x_test.shape)
# print(y_train.shape)
# print(y_test.shape)

In [6]:
# print(x_train)
# print(x_test)
# print(y_train)
# print(y_test)

In [7]:
# lr = LinearRegression()
# lr.fit(x_train, y_train)
# y_pred = lr.predict(x_test)
# d = pd.DataFrame({"Actual": y_test, "Pred": y_pred})
# print(d)

In [8]:
# plt.scatter(df["cgpa"],df["package"])
# plt.plot(x_test,y_pred,color="red")
# plt.show()

In [9]:
# print(lr.coef_) # value of M
# print(lr.intercept_) # value of C

In [10]:
# print("MAE",metrics.mean_absolute_error(y_test,y_pred))
# print("MSE",metrics.mean_squared_error(y_test,y_pred))

In [11]:
# y_pred = lr.predict([[8.9]])
# print("Pred Package for given:",y_pred)

# Advertising.csv { Method 2 }

In [12]:
dataset = pd.read_csv("Advertising.csv")
dataset.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [13]:
dataset.isna().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [14]:
# x = dataset[["TV","Radio","Newspaper"]]
# y = dataset["Sales"]
# print(x.shape)
# print(y.shape)
# print(type(x))
# print(type(y))

In [15]:
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

# lr = LinearRegression()
# lr.fit(x_train, y_train)
# y_pred = lr.predict(x_test)
# d = pd.DataFrame({"Actual": y_test, "Predict": y_pred})
# print(d)

In [16]:
# print(lr.coef_) # value of M
# print(lr.intercept_) # value of C

In [17]:
# print("MAE",metrics.mean_absolute_error(y_test,y_pred))
# print("MSE",metrics.mean_squared_error(y_test,y_pred))
# print("R2_Score",metrics.r2_score(y_test,y_pred))

# insurance.csv

In [18]:
dataset1 = pd.read_csv("insurance.csv")
# dataset1.shape
dataset1.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [19]:
dataset1.isna().sum()

dataset1 = pd.get_dummies(data=dataset1,drop_first=True)
print(dataset1)

      age   bmi  children  expenses  sex_male  smoker_yes  region_northwest  \
0      19  27.9         0  16884.92     False        True             False
1      18  33.8         1   1725.55      True       False             False
2      28  33.0         3   4449.46      True       False             False
3      33  22.7         0  21984.47      True       False              True
4      32  28.9         0   3866.86      True       False              True
...   ...   ...       ...       ...       ...         ...               ...
1333   50  31.0         3  10600.55      True       False              True
1334   18  31.9         0   2205.98     False       False             False
1335   18  36.9         0   1629.83     False       False             False
1336   21  25.8         0   2007.95     False       False             False
1337   61  29.1         0  29141.36     False        True              True

      region_southeast  region_southwest
0                False              True
1                 True             False
2                 True             False
3                False             False
4                False             False
...                ...               ...
1333             False             False
1334             False             False
1335              True             False
1336             False              True
1337             False             False

[1338 rows x 9 columns]

In [20]:
x = dataset1[["age","bmi","smoker_yes"]]
y = dataset1["expenses"]

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
d = pd.DataFrame({"Actual": y_test, "Predict": y_pred})
print(d)

        Actual       Predict
17     2395.17   2100.163507
1091  11286.54  12118.599220
273    9617.66  10117.635105
270    1719.44   2624.784657
874    8891.14   6808.546250
...        ...           ...
232    1727.79   -830.536227
323   11566.30  16173.473219
1337  29141.36  37328.145694
1066   8978.19  12744.372755
966   23967.38  33422.125766

[268 rows x 2 columns]

In [22]:
print(lr.coef_) # value of M
print(lr.intercept_) # value of C

[  253.13342778   319.69433724 23914.53194318]
-11330.630557809738

In [23]:
print("MAE",metrics.mean_absolute_error(y_test,y_pred))
print("MSE",metrics.mean_squared_error(y_test,y_pred))
print("R2_Score",metrics.r2_score(y_test,y_pred))

MAE 4235.854926952116
MSE 38171319.07860081
R2_Score 0.745830826829319

# car data.csv

In [24]:
df = pd.read_csv("car_data.csv")
df.shape
df.isna().sum()
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [25]:
df["Age"]=2023-df["Year"]
df.drop("Year",axis=1,inplace=True)
df.head()

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,9
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,10
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,6
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,12
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,9

In [26]:
df.drop("Car_Name",axis=1,inplace=True)
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,9
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,10
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,6
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,12
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,9

In [27]:
df = pd.get_dummies(data=df,drop_first=True)
print(df)
df.shape

     Selling_Price  Present_Price  Kms_Driven  Owner  Age  Fuel_Type_Diesel  \
0             3.35           5.59       27000      0    9             False
1             4.75           9.54       43000      0   10              True
2             7.25           9.85        6900      0    6             False
3             2.85           4.15        5200      0   12             False
4             4.60           6.87       42450      0    9              True
..             ...            ...         ...    ...  ...               ...
296           9.50          11.60       33988      0    7              True
297           4.00           5.90       60000      0    8             False
298           3.35          11.00       87934      0   14             False
299          11.50          12.50        9000      0    6              True
300           5.30           5.90        5464      0    7             False

     Fuel_Type_Petrol  Seller_Type_Individual  Transmission_Manual
0                True                   False                 True
1               False                   False                 True
2                True                   False                 True
3                True                   False                 True
4               False                   False                 True
..                ...                     ...                  ...
296             False                   False                 True
297              True                   False                 True
298              True                   False                 True
299             False                   False                 True
300              True                   False                 True

[301 rows x 9 columns]

(301, 9)

In [28]:
x = df[["Present_Price","Kms_Driven","Owner","Age","Fuel_Type_Diesel","Fuel_Type_Petrol","Seller_Type_Individual","Transmission_Manual"]]
y = df["Selling_Price"]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
d = pd.DataFrame({"Actual": y_test, "Predict": y_pred})
print(d)

     Actual    Predict
223    8.25   7.517500
150    0.50  -0.381360
226    5.25   4.255947
296    9.50   9.007192
52    18.00  14.426934
..      ...        ...
137    0.65   0.306821
227    2.55   1.983211
26     4.15   3.375038
106    1.35   0.879015
92     3.51   3.527309

[61 rows x 2 columns]

In [30]:
print(lr.coef_) # value of M
print(lr.intercept_) # value of C

[ 4.26479292e-01 -6.14426907e-06 -9.43575596e-01 -3.83128077e-01
  2.49268277e+00  5.83590556e-01 -1.14089738e+00 -1.43561056e+00]
5.893688031057598

In [31]:
print("MAE",metrics.mean_absolute_error(y_test,y_pred))
print("MSE",metrics.mean_squared_error(y_test,y_pred))
print("R2_Score",metrics.r2_score(y_test,y_pred))

MAE 0.9937753386730447
MSE 2.162871527787591
R2_Score 0.914434297222852

In [32]:
sampleData = lr.predict(
    [
        [
            5.5,
            45000,
            0,
            10,
            0,
            1,
            0,
            1   
        ]
    ]
)
print(sampleData)

[3.27953125]

c:\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(